.dashboard {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f2f5;
  height: -webkit-fill-available;
  height: -moz-available; // Corrected to -moz-available
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 10px; // Slightly reduced gap for a tighter layout
}

.group-header {
  margin: 0 0 10px 0;
  padding: 10px;
  background-color: #007ad9;
  color: white;
  text-align: center;
  border-radius: 8px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pi {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #007ad9;
}
