<div class="card" style="padding: 15px 30px 15px 30px;">
  <p-toolbar
          styleClass="bg-gray-900 shadow-2"
          [style]="{ 'border-radius': '3rem', 'background-color': '#2c65cb', 'color': 'white', 'padding':'10px 30px 10px 30px' }">
    <ng-template pTemplate="start">
      <img src="assets/images/logo.svg" class="logo" alt="logo" style="color: white; height: 36px;"/>
    </ng-template>
    <ng-template pTemplate="center">
      <div class="flex flex-wrap align-items-center navbar-center">
        <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" routerLink="map">
          <i class="pi pi-map text-2xl" style="color: white"></i>
          <span style="color: white; margin-left: 16px;">Map</span>
        </button>
        <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" routerLink="profile-client">
          <i class="pi pi-user text-2xl" style="color: white"></i>
          <span style="color: white; margin-left: 16px;">Profile</span>
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
<!--      <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" (click)="logout()">-->
<!--        <span style="color: white; margin-left: 16px;">Log Out</span>-->
<!--      </button>-->
      <p-button (click)="op.toggle($event)" [rounded]="true" icon="pi pi-cog" />
      <p-overlayPanel #op>
        <div style="display: flex; flex-direction: column; gap: 16px;">
          <button class="p-link inline-flex justify-content-center align-items-center h-3rem w-3rem border-circle transition-all transition-duration-200" (click)="logout()">
            <span style="color: #2C65CB; margin-left: 16px;">Log Out</span>
          </button>
          <button class="p-link inline-flex justify-content-center align-items-center h-3rem w-3rem border-circle transition-all transition-duration-200">
            <span style="color: #2C65CB; margin-left: 16px;">User Settings</span>
          </button>
        </div>
      </p-overlayPanel>
    </ng-template>
  </p-toolbar>
</div>
