<div class="main-div">
  <div class="logo-container">
    <img alt="Logo" src="assets/images/Radx-logo-web.svg" height="50px"/>
  </div>
  <div style="display: flex; flex-direction: column;">
    <p-card class="card">
      <ng-template pTemplate="header">
        <span style="color: #343F5A; font-family: 'Montserrat', sans-serif; font-size: 45px; font-weight:bold;">Welcome to <span style="color: #3D73FF">Zap</span>Map</span>
        <br>
        <span style="">
          Powering the Future of Electric Mobility
        </span>
        <br>
        <br>
      </ng-template>
      <ng-template pTemplate="body">
        <div style="display: flex; flex-direction: column; gap: 16px; justify-content: center; width: 100%; align-items: center;">
          <input style="width: 260px" type="text" pInputText placeholder="Username" [(ngModel)]="username"/>
          <input style="width: 260px" type="password" pInputText placeholder="Password" [(ngModel)]="password"/>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div style="display: flex; flex-direction: column; gap: 16px; justify-content: space-evenly; width: 100%; align-items: center;">
          <div style="display: flex; flex-direction: row; gap: 16px; justify-content: space-evenly; width: 100%; align-items: center;">
            <p-button
                    icon="pi pi-envelope"
                    label="Login with Email"
                    styleClass="p-button-rounded p-button-primary"
                    (click)="loginHandler()"
            ></p-button>
            <p-button
                    icon="pi pi-google"
                    styleClass="p-button-rounded p-button-danger"
                    (click)="GoogleAuth()"
            ></p-button>
          </div>
          <p-button label="Create an account" [text]="true" styleClass="p-button-rounded p-button-primary" (click)="location.replace('/signup')"></p-button>
        </div>
        <br>
      </ng-template>
    </p-card>
  </div>
  <div style="display:flex; flex-flow: row; flex-grow: 0.5">
    <span style="flex: 1 1 auto;"></span>
  </div>
</div>
