$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$itw-primary: (
  50 : #E6E9EF,
  100 : #C1C9D6,
  200 : #98A5BB,
  300 : #6E809F,
  400 : #4F658B,
  500 : #304A76,
  600 : #2B436E,
  700 : #243A63,
  800 : #1E3259,
  900 : #132246,
  A100 : #82A3FF,
  A200 : #4F7EFF,
  A400 : #1C59FF,
  A700 : #0346FF,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $light-primary-text,
  )
);

$itw-secondary: (
  50 : #e9f5f4,
  100 : #c9e6e5,
  200 : #a5d6d3,
  300 : #81c5c1,
  400 : #66b8b4,
  500 : #4baca7,
  600 : #44a59f,
  700 : #3b9b96,
  800 : #33928c,
  900 : #A0DDFF,
  A100 : #c2fffa,
  A200 : #8ffff7,
  A400 : #5cfff3,
  A700 : #42fff1,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $dark-primary-text,
    600 : $dark-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

