<div class="popup-container">
  <span class="station-name">{{station.name}}</span>
  <span class="station-street">St. {{station.streetName}}</span>
  <p-divider></p-divider>
  <div class="chargers-container">
    <div class="charger" *ngIf="station.type===ChargerType.THREE_PHASE">
      <img alt="Fast Charger" src="assets/images/fast-cherger.svg" height="30px"/>
      <div class="charger-info">
        <span class="charger-type">Fast Charger</span>
        <span class="charger-availability">{{station.fastAvailable}} Available</span>
<!--        <p-tag severity="info" value="Available in 25min" [rounded]="true"></p-tag>-->
      </div>
    </div>
    <div class="charger">
      <img alt="Slow Charger" src="assets/images/slow-cherger.svg" height="30px"/>
      <div class="charger-info">
        <span class="charger-type">Slow Charger</span>
        <span class="charger-availability">{{station.slowAvailable}} Available</span>
        <p-tag severity="info" value="Available in 25min" [rounded]="true"></p-tag>
      </div>
    </div>
  </div>
  <p-divider></p-divider>
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
    <span class="station-distance">{{station.distance}}km</span>
    <p-button icon='pi pi-directions' [rounded]="true" (click)="drawRoute()" />
  </div>
</div>
